.main-page{
    display: flex;
    height: 100vh;
    box-sizing: border-box;
    background: linear-gradient(to right, #45d2fd71, rgba(225, 134, 233, 0.264))
    , url(./../../assets//images//login-bg.jpg) no-repeat center center;
    background-size: cover;
    justify-content: center;
    align-items: center;

}

.content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.307);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        width: calc(100% - 40px);
        max-width: 500px;
        margin: 0 auto;
    img {
        width: 300px;
        margin: 10px auto;
        padding: 20px;
        display: block;
    }
    h1{
        text-align: center;
    }

    .title {
        font-size: 20px;
        font-weight: bold;
        color: black;
    }

}